@import url("pygment.css");

/*
colors inspired by the Alpenglow theme for Firefox https://addons.mozilla.org/en-US/firefox/addon/firefox-alpenglow/
could use CSS variables, but then no highlighting in Neovim
#fff8f2
#fff2e8
#ffada4
#fd83a6
#fc4ba0
#a280e5
#864be4
#713cd7
#311c64
#21123a
#0d0717
 */

html {
    font-size: clamp(1em, 0.9em + 0.45vmin, 1.3em);
}


body {
    max-width: 72ch;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: calc(1vmin + .5rem);
    padding-right: calc(1vmin + .5rem);
    margin-top: 0;
    margin-bottom: 0;
    margin-inline: auto;
    font-family: system-ui;
    background: #fff8f2;
    color: #000000;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #000000;
        color: #ffffff;
    }
}

body :not(:is(h1,h2,h3,h4,h5,h6)) {
    line-height: 1.7;
}

/* links */
a{ text-decoration: none; }
a:hover{ text-decoration-line: underline; text-decoration-thickness: 0.1em}
a:link { color: #713cd7; }
a:visited { color: #311C64; }
a:hover { color: #fc4ba0; }
a:active { color: #fd83a6; }
@media (prefers-color-scheme: dark) {
    a:link { color: #a280e5; }
    a:visited { color: #713cd7; }
    a:hover { color: #fc4ba0; }
    a:active { color: #fd83a6; }
}
header a:link, header a:visited, h2 a:link, h2 a:visited, nav a:link, nav a:visited { color: #000000; }
header a:hover, h2 a:hover, nav a:hover { color: #fc4ba0; }
header a:active, h2 a:active, nav a:active { color: #fd83a6; }
@media (prefers-color-scheme: dark) {
    header a:link, header a:visited, h2 a:link, h2 a:visited, nav a:link, nav a:visited { color: #ffffff; }
    header a:hover, h2 a:hover, nav a:hover { color: #fc4ba0; }
    header a:active, h2 a:active, nav a:active { color: #fd83a6; }
}

/* site header = logo + hgroup + nav */
body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    background: #ffffff;
}
@media (prefers-color-scheme: dark) {
    body > header {
        background: #0d0717;
    }
}

#logo-title {
    display: flex;
    align-items: center;
}

#logo-title > picture > img {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.3rem;
}

#logo-title > hgroup > h1 {
    font-size: 1.2rem;
    line-height: 1.0;
}

/* navigation menu */
#site-nav {
    font-size: 1.2rem;
    overflow: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

#site-nav ul {list-style: none; margin: 0 auto; padding: 0;}
#site-nav li {float: left; display: inline; margin-right: 1rem;}

#site-nav a:link, #site-nav a:visited {
    display: inline-block;
    height: 30px;
    padding: 0;
}
#site-nav a:hover, #site-nav a:active,
#site-nav .active a:link, #site-nav .active a:visited {
    text-shadow: none !important;
}

/* article (blog post or page content) */
article {
    background: #ffffff;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
}
@media (prefers-color-scheme: dark) {
    article {
        background: #0d0717;
    }
}
article header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
}
article header h2 {
    margin-right: 1rem;
    margin: 0;
    font-size: 1.5rem;
}
article header small {
    opacity: 0.67;
}

/* code block */
.highlight {
    font-size: 0.75em;
    outline-style: solid;
    outline-width: 0.12rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: #fafafa;
    outline-color: #e0e0e0;
}
@media (prefers-color-scheme: dark) {
    .highlight {
        background: #101010;
        outline-color: #202020;
    }
}
.highlight pre {  /* code is wrapped in pre */
    margin: 0;
    overflow-x: scroll;
}

/* elements to show/hide on dark mode */
.light-mode-element { display: block; }
.dark-mode-element { display: none; }
@media (prefers-color-scheme: dark) {
  .light-mode-element { display: none; }
  .dark-mode-element { display: block; }
}

/* footer */
footer {
    background: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 0rem;
}
@media (prefers-color-scheme: dark) {
    footer {
        background: #0d0717;
    }
}

body > footer > address {
    font-size: 0.85em;
}
