

@import url("pygment.css");

/*
colors inspired by the Alpenglow theme for Firefox https://addons.mozilla.org/en-US/firefox/addon/firefox-alpenglow/
could use CSS variables, but then no highlighting in Neovim
#fff8f2
#fff2e8
#ffada4
#fd83a6
#fc4ba0
#a280e5
#864be4
#713cd7
#311c64
#21123a
#0d0717
 */

html {
    font-size: clamp(1em, 0.9em + 0.45vmin, 1.3em);
}


body {
    max-width: 72ch;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: calc(1vmin + .5rem);
    padding-right: calc(1vmin + .5rem);
    margin-top: 0;
    margin-inline: auto;
    font-family: system-ui;
    background: #fff8f2;
    color: #000;
}

body :not(:is(h1,h2,h3,h4,h5,h6)) {
    line-height: 1.7;
}

a:link {
    color: #713cd7;
}
a:visited {
    color: #311C64;
}
a:hover {
    color: #fc4ba0;
}
a:active {
    color: #fd83a6;
}

/* link underline only on hover and never for title */
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1 a:hover{
    text-decoration: none;
}

/* site header = hgroup + nav */
body header {
    background: #fff;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 2ch;
    padding-right: 2ch;
    margin-top: 0;
    margin-bottom: 1ch;
}

/* navigation menu */
nav {
    font-size: clamp(1.2em, 1.1em + 0.45vmin, 1.4em);
    overflow: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul {list-style: none; margin: 0 auto; padding: 0;}
nav li {float: left; display: inline; margin: 0;}

nav a:link, nav a:visited {
    display: inline-block;
    height: 30px;
    padding: 0;
}
nav a:hover, nav a:active,
nav .active a:link, nav .active a:visited {
    text-shadow: none !important;
}

/* article */
article {
    background: #fff;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 2ch;
    padding-right: 2ch;
    margin-bottom: 1ch;
    border-radius: 5ch / 2ch 0;
    box-shadow: -1px -1px 0px #fc4ba0;
}
article header {
    padding-top: 1.5ch;
    padding-bottom: 1ch;
    padding-left: 0ch;
    padding-right: 0ch;
}
article header h2 {
    margin: 0;
}

.highlight {
    font-size: 0.85em;
    background: #fafafa;
    outline-style: solid;
    outline-width: 0.2ch;
    outline-color: #000;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
}
.highlight pre {  /* code is wrapped in pre */
    margin: 0;
}


/* dark mode colors */
@media (prefers-color-scheme: dark) {
    body {
        background: #21123a;
        color: #fff;
    }
    a:link {
        color: #a280e5;
    }
    a:visited {
        color: #713cd7;
    }
    a:hover {
        color: #fc4ba0;
    }
    a:active {
        color: #fd83a6;
    }
    article, body header {
        background: #140b23;
    }
    .highlight {
        background: #050505;
    }
    article {
        box-shadow: 1px 1px 0px #fd83a6;
    }
}
